[Unit]
Description=PID fan controller
After=lm_sensors.service
Requires=lm_sensors.service
After=multi-user.target

[Service]
Type=simple
ExecStartPre=/usr/share/pid-fan-controller/override_auto_fan_control.py 1
ExecStart=/usr/share/pid-fan-controller/main_loop.py
ExecStopPost=/usr/share/pid-fan-controller/override_auto_fan_control.py 0

[Install]
WantedBy=multi-user.target

# vi:ft=systemd
